*.DS_Store*
*.iml

/ARM64
/x64
/client/Debug
/client/Release
/client/x64
/engine/Debug
/engine/Release
/engine/x64
/client/bin
/engine/bin
.vscode
/client/obj
/engine/obj

.vs
enc_temp_folder
engine/engine.layout
engine/engine.depend
